*{
	background-attachment: fixed;
}

body{
	margin-block-start: 0%;
    margin: 0px;
	background-attachment: fixed;
	background-color: rgb(242, 242, 242);
}

section{
	background-color: #F8F4EA;
    margin-bottom: 2%;
    padding: 10px;
}

h2{
    text-align: center;
    color: lightcoral;
    padding: 10px;
    font-size: 400%;
}

.h2form{
    color: #19A7CE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}

b{
    color: red;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

section ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
}

section ul li{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border: 1.5px solid rgb(164, 163, 163);
    background-color: #fff;
    border-radius: 7px;
}

form{
    
    background-color: #fff;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    color: black;
    font-size: 20px;
    width: 500px;
}

label{
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

select option{
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.controls{
    width: 95%;
    background:  rgb(254, 251, 253);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid lightcoral;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 18px;
    color: rgb(0, 0, 0);
}



.button{
    text-align: center;
	color:#ffffff;
	text-decoration: none;
	background: #19A7CE;
	border: 1.5px none lightcoral;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
    width: 40%;
    margin-block-start: 0%;
    margin-left: 2em;
    position: relative;
}

.button2{
    text-align: center;
	color:#ffffff;
	text-decoration: none;
	background: #19A7CE;
	border: 1.5px none lightcoral;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	width: 150px;
    justify-content: center;
    width: 100%;
}

.button:hover, .button2:hover{
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 1.5px solid #19A7CE;
}

footer{
	background-color:#413F42;
	text-align: center;
	color: rgb(244, 178, 178);
	font-size: 20px;
	padding: 5px;
}
footer button{
	border: none;
	background-color: #fff;
	border-radius: 5px;
	width: auto;
}


/*
.formulario{
    color: black;
    text-align: center;
    font-size: 20px;
    position: absolute;
    width: 500px;
    
}
.formulario2{
    color:black;
    text-align: center;
    font-size: 20px;
    position: absolute;
    width: 500px;
    height: 436px;
    
}*/
